body{
    background-image: linear-gradient(95deg,red,purple,skyblue);
   
}
#body{
    background-color:rgba(9, 9, 9, 0.811);
    margin: 1cm;
    padding: 1cm;

}



html{
    color:white;
    font-family: serif;
}


.social img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  
}
.social{
    text-align: center;
    margin-top: 0cm;
}
@media screen and(max-width:600px) {
    .social {
        text-align: center;
        margin-top: 2cm;
    
}
}
a{
    color:green;
    text-decoration: none;
}
